.calculator {
    background-color:black;
    display: flex;
    flex-direction:column;
    width:fit-content;
    border-radius: 5%;
    padding: 5px;
}

.display {
    background-color: gray;
    flex: 1;
    margin: 10px 0px 15px 0px;
    text-align: right;
    padding-right: 5px;
    font-size: 30px;
    color: gray;
}

.container {
display: flex;
width: 200px; flex-wrap: wrap;
flex: 4;
}

button {
    flex: 1 0 50px;
    color: white; 
    background-color: black; 
    border-radius: 10%;
}

button:active {
    background-color: white;
}

.equals {
    background-color: orangered;
}

.clear {
    background-color:white; 
    color: black;
}

#gray {
    background-color: gray;
    color: black;
}

.botomButtons {
    display: flex;
}

#dot {
    flex: 1;
    font-weight: bold;
}

#arrow {
    flex: 1; font-weight: bold;
}

.off {
    background-color: brown; 
    color: black;
}

#power {
    background-color: red;
    color: white
}

#float, #backspace, #plusMinus {
    color: orangered;
    font-weight: bold;
}
